// Page.

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  color: $main-text-color;
  background-color: $white;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  &--modal-open {
    @media (max-width: $tablet-width) {
      overflow: hidden;
    }
  }
}

.page__main {
  flex-grow: 2;

  &--nav-open {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
