// Variables.

// Colors.

$white: #ffffff;
$black: #000000;
$main-brown: #a87b62;
$dark-brown: #564034;
$main-text-color: #1d1613;
$header-line: #f6f5f4;
$text-gray: #9b9997;
$blog-bg: #f0eae4;
$product-card-bg: #e9e9e9;

// Viewports.

$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-min-width: 768px;
$tablet-width: 1023px;
$desktop-width: 1024px;
